/* font-size : 10vh (es relativo, se achica junto con el contenedor) */


* {
    box-sizing: border-box;
    margin: 0;
}


body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    font-size: 4.0em;
}

h2 {
    font-size: 2.5em;
}

h3 {
    font-size: 2em;
}

p {
    font-size: 1.25em;
}

ul {
    list-style: none;
}

html {
    scroll-behavior: smooth;

}




button {
    font-size: 1.25em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 5px;
    background-color: #092354;
    box-shadow: 20px 20px 10px #0000008f;
    border: 1px solid #fff;
    color: #fff;
}

button:hover {
    cursor: pointer;
    background-color: rgb(69, 11, 124);
    transform: translateY(-3px) scale(1.10);
}

input {
    padding: 15px 160px 15px 10px;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 25px;
    background-color: rgba(0, 0, 0, 0.554);
    border-radius: 5px;
    border: 1px solid #fff;
}

::placeholder {
    font-size: 18px;
    color: #fff
}

.container {
    max-width: 1400px;
    margin: auto;
}

header {
    background-color: #000000f1;
}

header .header__logo {
    margin: 0;
    width: 65px;
    height: 60px;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.465), rgba(255, 255, 255, 0.491)), url(/assets/images/Logo\ Hamburguesa\ 1.jpg);
    border-radius: 100px;
    padding: 50px;
    margin: 10px;
    background-size: cover;
    background-position: center;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav {
    display: flex;
    text-align: center;
    padding: 25px;
}

header a {
    padding: 5px 20px;
    text-decoration: none;
    font-weight: bold;
    color: #ffffff;
    font-size: 20px;
}

header a:hover {
    color: rgb(95, 14, 171);
}

.section__banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 90vh;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.358), rgba(0, 0, 0, 0.78)), url(/assets/images/fondo-banner.jpg);
    background-size: cover;
    background-position: center;
}

.section__banner h1 {
    color: #fff;
}

.section__banner h2 {
    font-size: 30px;
    padding: 20px 0px;
    color: #fff;
}

.section__banner p {
    margin-top: 40px;
    font-size: 25px;
    padding: 0px 0px 10px 0px;
    color: #fff;
}

.section__banner button {
    font-size: 1.45em;
}

.section__intro {
    background-color: #e1e4e9;

}

.section__intro .container {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding: 100px 5px;


}

.section__intro .section__intro-text {
    width: 50%;
    padding: 0px 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 10px solid #00000023;
    border-style: inset;
    border-radius: 10px;

}



.section__intro h2 {
    margin-top: 0;
    color: rgb(95, 14, 171);
    margin-bottom: 40px;



}

.section__intro p {
    font-size: 22px;

}


.section__intro .section__intro-img {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.318), rgba(0, 0, 0, 0.143)), url(/assets/images/negocio-de-hamburguesas.jpg);
    background-size: cover;
    background-position: center;
    height: 620px;
    width: 520px;
    border-radius: 10px;
    box-shadow: 20px 20px 10px #0000008f;

}

.section__product {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.825), rgba(0, 0, 0, 0.798)), url(/assets/images/fondo\ flores.jpg);
    color: #fff;
    text-align: center;
    background-size: cover;
    background-position: center;
}


.section__product-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.section__product-card h3 {
    padding: 0px 0px 20px 0px;
    font-weight: bold;

}

.section__product-card button {
    margin-top: 60px;
    background-color: #092354;
    box-shadow: 20px 20px 10px #0000008f;
    border: 1px solid #fff;

}

.section__product-card button:hover {
    cursor: pointer;
    background-color: rgb(69, 11, 124);
    transform: translateY(-3px) scale(1.10);
}

.section__product-card p {
    margin-top: 30px;
    font-weight: bold;
}


.container h3 {
    margin: 0;
}

.section__product .container {
    padding: 140px 15px;
}

.section__product .container h2 {
    margin-bottom: 60px;
}


.card1 {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.58), rgba(0, 0, 0, 0.393)), url(/assets/images/fullstack.avif);
    padding: 40px;
    margin: 20px;
    border-radius: 10px;
    background-position: center;
    background-size: cover;
    border: 1px solid white;
}

.card2 {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.58), rgba(0, 0, 0, 0.393)), url(/assets/images/python.avif);
    padding: 40px;
    margin: 20px;
    border-radius: 10px;
    background-position: center;
    background-size: cover;
    border: 1px solid white;
}

.card3 {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.58), rgba(0, 0, 0, 0.393)), url(/assets/images/La\ CSS.avif);
    padding: 40px;
    margin: 20px;
    border-radius: 10px;
    background-position: center;
    background-size: cover;
    border: 1px solid white;
}


.section__characteristics {
    background-color: #e1e4e9;
}

.section__characteristics .container {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding: 100px 5px;
}

.section__characteristics .section__characteristics-text {

    width: 40%;
    padding: 0px 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 10px solid #00000023;
    border-style: inset;
    border-radius: 10px;
}

.section__characteristics-text li {
    padding: 20px 12px;
    text-decoration: none;
    font-weight: bold;
    color: #000;
    font-size: 30px;
    text-align: initial;
}

.section__characteristics-text h2 {
    color: rgb(95, 14, 171);
    margin-bottom: 40px;
    margin-top: 20px;
}

.section__characteristics-text a {
    text-decoration: none;
    color: #000000;
}


.section__characteristics-text a:hover {
    color: rgb(139, 30, 241);
}



.section__characteristics-img {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.318), rgba(0, 0, 0, 0.143)), url(/assets/images/Local.jpg);
    background-size: cover;
    background-position: center;
    height: 620px;
    width: 520px;
    border-radius: 10px;
    box-shadow: -20px 20px 10px #0000008f;
}


.section__aside {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.825), rgba(0, 0, 0, 0.798)), url(/assets/images/Descuentos.avif);
    color: #fff;
    text-align: center;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #000;
    color: #fff;
    height: 50vh;
}

.section__aside h2 {
    margin-bottom: 30px;
}

.section__aside p {
    margin-bottom: 10px;
    font-size: 23px;
}



footer {
    background-color: #e1e4e9;
}


.footer__content-group1 {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    padding: 45px 0px;
}

.box-1 img {
    width: 300px;
    height: 300px;
}

.box-1 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: start;
}

.footer__content-group1 {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    padding: 45px 0px;
}


.footer__content-group1 h2 {
    margin-bottom: 35px;
    color: rgb(95, 14, 171);
}

.footer__content-group1 p {
    margin-bottom: 35px;
}

.support__network-box {
    display: flex;
    text-align: justify;
    justify-content: center;
    line-height: 30px;
}

.support__network-box a {
    color: #000
}

.support__network-box a:hover {
    color: rgb(95, 14, 171);
}


.social__network-box a {
    display: inline-block;
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-decoration: none;
    padding: 0 10px;
    border-radius: 10px;
    background-color: #333;
    color: #fff;
    margin: 10px;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.3);
}



.footer_logo {
    width: 250px;
    height: 250px;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.465), rgba(255, 255, 255, 0.491)), url(/assets/images/Logo\ Hamburguesa\ 2.png);
    border-radius: 10px;
    box-shadow: 10px 10px 10px #0000008f;
    background-size: cover;
    background-position: center;
}


/* .social__network-box:hover {
    filter: blur(2px);
   }
   para darle efecto borroso
    */


/* para que el boton se mueva */
.social__network-box a:hover {
    transform: translateY(-3px) scale(1.10);
}

.footer__content-group2 {
    background-color: #010000da;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}

.footer__content-group2 p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
}




/* MediaQueries */

@media screen and (max-width:700px) {


    h1 {
        font-size: 9vw;
    }

    h2 {
        font-size: 6vw;
    }

    p {
        font-size: 4vw;
    }

    input {
        padding: 15px 60px 15px 10px;
    }


    header .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }

    header nav {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 25px;
    }

    header .logo {
        margin: 0;
        padding: 25px 30px;
    }

    header a {
        font-size: 3vh;
    }

    .section__banner {
        height: 100vh;
    }

    .section__banner h2 {
        font-size: 6vw;
    }

    .section__banner p {
        font-size: 4vw;
    }


    .section__intro .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 100px 5px;
        gap: 30px;
    }

    .section__intro .section__intro-text {
        width: 95%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }


    .section__intro .section__intro-img {
        width: 90%;
        height: 400px;
        object-fit: cover;
        object-position: bottom;
    }

    .footer_logo {
        width: 150px;
        height: 150px;
        transition: all 1s;
    }



    .section__product .section__product-card {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .card1 p {
        display: none;
    }

    .card2 p {
        display: none;
    }

    .card3 p {
        display: none;
    }

    .carta {
        padding: 60px;
        margin: 18px;
        border-radius: 10px;
    }

    .section__characteristics .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 100px 5px;
        gap: 30px;
    }

    .section__characteristics .section__characteristics-text {
        width: 95%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .section__characteristics-text li {
        font-size: 20px;
    }



    .section__characteristics-img {
        width: 90%;
        height: 400px;
        object-fit: cover;
        object-position: bottom;
    }

    .section__aside {
        height: 90vh;
    }


    .section__aside h2 {
        font-size: 5vw;
    }

    .section__aside p {
        font-size: 4vw;
    }
    


    .footer__content-group1 {
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
        padding: 35px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}

@media screen and (max-width:350px) {
    input {
        padding: 15px 20px 15px 10px;
    }

}